body{
	margin:0px;
	padding:0px;
}
div#mae{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
div#topo{
	margin:0px;
	padding:0px;
	width:100%;
	height:50px;
	background-color:#00ccff;
	box-shadow:0px 2px 4px #c1c1c1;
}
